h1{
    text-align: center;
    font-size: 64px;
    color: blue;
    padding-top:50px;
    margin-top: 50px;
    border-style: solid;
    text-transform: capitalize;

}


h2{
    text-align: left;
    font-size: 64px;
    color: black;
    text-transform: capitalize;
border-style: solids;
}
   